
.green-button {
  @apply py-2 px-4 bg-green-700 text-white shadow-lg border-2 rounded-lg cursor-pointer text-lg font-semibold;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-text {
  margin-right: 0.5em;
  @apply border-2 border-black rounded-sm p-1 text-lg
}

.search-button {
  padding: 0.5em;
  @apply border-2 bg-gray-50 shadow-lg border-black p-1 text-lg rounded-sm
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.track-card {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2em;
  max-width: 80%;
  min-width: 80%;
  height: fit-content;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.track-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 0.5em;
}

.card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1em 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
}

.label-text {
  margin-bottom: 0.5em;
  font-size: 18px;
  font-weight: 800;
}

textarea {
  resize: vertical;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 1em;
}

.list-tracks {
  max-height: 231px;
  overflow-y: scroll;
  text-align: left;
}

.grid-view {
  display: grid;
  grid-template-columns: 50% 50%;
}
